@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-weight: 400;
    size: 16px;
    margin-top: 0;
    padding-top: 0;
}
h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
}
h5{
    font-size: 28px;
    font-weight: 600;
}

.btn-all{
    background-color: #E76F51;
    padding: 10px 24px;
    color: white;
}
.custom-color{
    color: #E76F51;
    font-weight: 600;
}
/* ========Header======== */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: white;
  }
header{
    background-color: #264653;
    color: white;
}
.modal h5 , .modal p{
    color: black;
}

/* ==========Featured Bikes======= */

.gray-img{
    filter: grayscale(100%);
}

/* ===========Latest News========== */

.news-btn{
    border: 1px solid #E76F51;
}
.news-btn:hover{
    color: white;
    background-color: #E76F51;
}
